.userContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid grey;
}

.userContainer > span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  overflow: hidden;
  color: black;
}
