/* Form styles */
.form {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

.title {
  font-family: 'JetBrains Mono';
  text-align: center;
  justify-content: center;
}

.form > label {
  font-family: 'JetBrains Mono';
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form > label > input {
  font-family: 'JetBrains Mono';
  width: 65%;
  margin-left: 5px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.radioButtons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}

.radioButtons > label {
  font-family: 'JetBrains Mono';
}

.form > select {
  font-family: 'JetBrains Mono';
  width: 100%;
  margin-bottom: 20px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
span {
  color: crimson;
}
