/* Form styles */
.form {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

.title {
  font-family: 'JetBrains Mono';
  text-align: center;
  justify-content: center;
}

.form > input {
  margin-bottom: 20px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form > select {
  width: 100%;
  margin-bottom: 20px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
span {
  color: crimson;
}
