.formStyles {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}
.formStyles > h1 {
  margin-bottom: 0;
}
.formStyles > span {
  color: crimson;
}

.forgotPassBtn {
  background-color: transparent;
  color: #3498db; /* Set the text color */
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover effect */
.forgotPassBtn:hover {
  background-color: rgba(
    52,
    152,
    219,
    0.1
  ); /* Add a subtle background on hover */
}

.inputStyles {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttonStyles {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.loggedInStyles {
  text-align: center;
}

.logoutButtonStyles {
  background-color: #e44a2e;
  color: white;
  padding: 10px;
  cursor: pointer;

  width: 20%;
}
